<!DOCTYPE html>
<html>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <body>
                <div class="container">    
                        <div class="jumbotron">
                                <div class="row">
                                        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                                                <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
                                        </div>
                                        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                                                <div class="container" style="border-bottom:1px solid black">
                                                        <h2>{{name}}</h2>
                                                </div>
                                                <hr>
                                                <ul class="container details">
                                                        <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>{{phone}}</p></li>
                                                        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{email}}</p></li>
                                                        <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>{{location}}</p></li>
                                                        <li><p><i class="fab fa-github" style="width:50px"></i><a href={{github}}>{{github}}</p></a></li>
                                                        <li><p><i class="fas fa-home" style="width:50px"></i><a class="nav-item nav-link" href="/">Back to Home</p></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                        <div class="container">
                                <div class="col-sm-3">
                                        <h4>Skills breakdown</h4>
                                        {{#each skills}}
                                        <div class="pull-left">
                                                <div class="pull-left" style="width:35px; line-height:1;">
                                                        <div style="height:7px; margin:5px 0;">{{lang_name}} </div>
                                                </div>
                                                <div class="pull-right" style="width:180px;">
                                                        <div class="progress" style="height:9px; margin:8px 0;">
                                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 100%"> 
                                                                        <span class="sr-only">80% Complete (danger)</span>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <br>
                                        {{/each}}
                                </div>
                                <div class="col-lg-9">
                                        <div class="row">
                                                {{#each projects}}
                                                <div class="col-md-4">
                                                        <div class="thumbnail">
                                                                <a href="/Users/Arnold/Downloads​/Project.png">
                                                                        <img src="/Users/Arnold/Downloads​/Project.png" alt={{proj_name}} style="width:100%">
                                                                        <div class="caption">
                                                                                <p>{{text}}</p>
                                                                        </div>
                                                                </a>
                                                        </div>
                                                </div>
                                                {{/each}}
                                        </div>    
                                </div>
                        </div>
                </div>
        </body>
</html>
